<html>
    <style>
        .thank-you{
            color: white;
            font-family:Helvetica Neue;
            font-weight: 200;
            margin: 30px;
            font-size: x-large;
        }

        .header-img {
            margin: 30px;
        }

        body{
            background-color:black;
            text-align:center;
        }
    </style>
    <body>
        <img class="header-img" src="http://intelligenttrading.org/wp-content/uploads/intelligent-trading-technologies-logo.png">
        <p class="thank-you">
            Thank you for accepting out EULA! You can now close this page and start using the BOT!
        </p>
    </body>
</html>