<table id="tbl-history" class="table history display">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Signal</th>
            <th>Ticker</th>
            <th>Counter</th>
            <th>Trend</th>
            <th>Horizon</th>
            <th>Exchange</th>
            <th>Plan</th>
        </tr>
    </thead>
    <tbody>
        <% history.results.forEach((record) => { %>
            <%- include('signal',{record:record}) %>
                <% }) %>
    </tbody>
</table>
