<div>
    <label>
        Copy and paste:
        <br/>
        <br/>
        <code>
                    🔴 *Test header*<br/>
                    [Interesting Link](http://hooooooooo.com/)<br/>

                    Test<br/><br/>
        </code> to send a message which will render as follows:
    </label>
    <br/>
    <div style="border-color: lightgrey;padding:10">
        <samp> 🔴
            <b>Test header</b>
            <br/>
            <a href="http://hooooooooo.com/">Interesting Link</a>
            <br/> Test
        </samp>
    </div>
</div>
<br/>
<hr/>
<form id="broadcastForm">
    <div class="form-group">
        <label for="exampleFormControlSelect2">Deliver to the following plans (please, select 1+ groups):</label>
        <br />
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="cbFree" value="free">
            <label class="form-check-label" for="inlineCheckbox1">FREE</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="cbDiecimila" value="pro">
            <label class="form-check-label" for="inlineCheckbox4">Pro</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="cbTrial" value="trial">
            <label class="form-check-label" for="inlineCheckbox4">Pro Trial</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="cbITT" value="itt">
            <label class="form-check-label" for="inlineCheckbox4">ITF Team</label>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Message to broadcast:</label>
        <textarea class="form-control" name="message" rows="3" required></textarea>
        <br/>
        <button id="btnSubmit" type="submit" class="btn btn-primary mb-2">Broadcast</button>
    </div>
</form>

<script>
    function sendBroadcastMessage() {
        var authUrl = new URLSearchParams(window.location.search)
        var actionUrl = "/dashboard/tools/broadcast" + '?' + authUrl.toString()

        var params = $("#broadcastForm").serialize().split('&')
        var messageIsNotEmpty = false
        params.forEach(parameter => {
            messageIsNotEmpty = messageIsNotEmpty || parameter.startsWith('message')
        })

        if (messageIsNotEmpty && params.length > 1) {

            console.log('sending broadcast...')
            
            $.post({
                url: actionUrl,
                data: $("#broadcastForm").serialize(), // serializes the form's elements.
                success: function (data) {
                    console.log(data)
                    $("#btnSubmit").attr('class', 'btn btn-success mb-2')
                    $("#btnSubmit").text('Sent')
                    setTimeout(() => {
                        $("#btnSubmit").attr('class', 'btn btn-primary mb-2')
                        $("#btnSubmit").text('Broadcast')
                    }, 3000)
                },
                error: function (data) {
                    $("#btnSubmit").attr('class', 'btn btn-danger mb-2')
                    $("#btnSubmit").text('Error')
                    setTimeout(() => {
                        $("#btnSubmit").attr('class', 'btn btn-primary mb-2')
                        $("#btnSubmit").text('Broadcast')
                    }, 3000)
                }
            });
        }
        else{
            alert('Missing receivers or empty message, please check')
        }
    }

    $(function () {
        $("#broadcastForm").submit(function (event) {
            event.preventDefault();
            sendBroadcastMessage()
        })
    })

</script>