<style>
    .stat-description {
        font-size: small;
        font-weight: 400;
    }

    .stat-value {
        font-size: xx-large;
        font-weight: 100;
    }

    .container {
        margin: 10px
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm stat-description">
            <%= label%>
        </div>
    </div>
    <div class="row">
        <div class="col-sm stat-value">
            +
            <%= statsData%>
        </div>
    </div>
</div>