<style>
</style>

<table id="tbl-users" class="table history">
    <thead class="thead-dark">
        <tr>
            <th>Chat Id</th>
            <th>EULA</th>
            <th>Subscription</th>
            <th>Valid until</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach((user) => { 
            %>
            <tr>
                <td>
                    <%= user.telegram_chat_id %>
                </td>
                <td>
                    <%= user.eula %>
                </td>
                <td>
                    <%= user.currentPlan.plan%>
                </td>
                <td>
                    <%= user.currentPlan.exp%>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>