<style>
    .stat-description {
        font-size: smaller;
        font-weight: 300;
    }

    .stat-value {
        font-size: x-large !important;
        font-weight: 100 !important;
    }
    .stat-value-sec {
        font-size: medium;
        font-weight: 100;
        color: rgba(255, 0, 0, 0.4)
    }

    .container {
        text-align: center
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm stat-description">
            <%= label%> <small style="color:rgba(255, 0, 0, 0.4)"><% if(secondary != null){%>(<%=sublabel %>)<%}%></small>
        </div>
    </div>
    <div class="row">
        <div class="col-sm stat-value">
            <%= statsData%>
        </div>
        <% if(secondary != null){%>
        <div class="col-sm stat-value-sec">(<%= secondary %>)</div>
        <%}%>
    </div>
</div>